# ----------------------
snippet mla "Insert Latex MLA Template" b
\documentclass[12pt,letterpaper]{article}
\usepackage{ifpdf}
\usepackage{mla}
\begin{document}
\begin{mla}{William}{Cain}{${1:Course}}{today}{${2:Title}}
${0:Body}
\end{mla}
\end{document}
endsnippet
# ----------------------

