snippet start "Start a LaTeX Document" b
\documentclass[12pt]{article}
\usepackage{amsmath, amssymb, amsfonts, amsthm}
\usepackage{fullpage}
\usepackage{setspace}

\title{${1}}
\author{Liam Cain}
\date{\today}

%%%%%%%%%%%%%%% End Preamble %%%%%%%%%%%%%%%

\begin{document}
\maketitle

\begin{description} 

${0}

\end{description}
\end{document}
endsnippet

snippet sum "LaTeX Summation" i
\sum\limits_{i=${1:1}}^n ${0:i}
endsnippet
